/* #titulo{
    color: black;
}

.texto{
    color : skyblue;
}
p.texto {
    color: blue;
}

div p {
    color: aquamarine;
}
div h2, div h3{
    color : brown;
}
*{
    font-size: 24px;
/*     color: black; */
/* } */

/*lpm*/
/*.color{
    color: #000000;
}

.color {
    color: rgb(0, 0, 0)
}
dotted
dashed
solid
double
groove
ridge
inset 
outset
none
hidden

.color {
    border:5px black dotted;

}

.color{
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem;
}
#fondo {
    background-color:rgb(0,255,255);

/*     opacity: 0.3; */
/*     height:200px ;
    background: #f00 url('D.jpg') repeat-y center bottom / 100px 100px;

} */

/* .margen {
    background-color: skyblue;
    margin: 15px;
    padding:  15px 20px;
    border: solid 1px  black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid blue ;

}
.text{

    font-size: 90px;
    font-family: 'Grey Qo';
    text-align: center;
    margin: 15px;
    text-decoration: underline;
    text-shadow: 3px 5px 5px blue;
}

a:link {
    color: blueviolet;
}
a:visited{
    color: gray;

}
a:hover{
    color: yellow;
}
a:active{
    color: red;
}
ul{
   background-color: cyan; 
   list-style-type:decimal; */
/*    padding-left: 0;
      list-style-position: inside;

*/

/* }

table{
    width: 100%;
    border-collapse: collapse;

}
th,td{
    border: solid 1px red ;
    padding: 5px;
}
th{
    background-color: tomato;
    color:black;
    text-align: left;
    
}
tr:nth-child(even){
    background-color: aqua;
}
tr:hover{
    background-color: green ;
    cursor: pointer;
}

span {
    display: block; */
/*     display: none; */
/*     visibility: hidden; */
 /*    max-width: 300px;
    background-color: red;
}

.inline{
    display: inline;
}

#posicion{
    position: static;
    left: 20px;
    top: 25px;
}
.left{
    float: left;
    width: w00px;
    height: 200px;
}
.conteiner{
    height: 300px;
}
.right{
    float: right;
}
.card{
    margin: 0;
    padding: 10px 0;
    width: 33.3%;

} */
body {
    margin: 0;
}

#fa1 {
    background-color: red; /* Fondo negro */
    color: black; /* Texto blanco para contraste */
    font-size: 90px;
    font-family: 'Grey Qo';
    text-align: center; /* Centrar el texto */
    padding: 20px; /* Espacio alrededor del texto */
    margin: 0 auto; /* Centrarse dentro del contenedor */
    width: auto; /* Ajustar el ancho al contenido */
}